.{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* shared css */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.primary{
    max-width: 1200px; 
    margin: 0 auto;
}


.btn-primary{
    padding: 18px 30px;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color: #B68C5A;

}
.dark-2{
    color: #414040;
}
.dark-3{
    color: #707070;
    
}







 /* main css  */

 /* heading section */

.header-img{
    display: flex;
    gap: 10px;
    /* border: solid; */
    width: 45px;
    height: 45px;
}
.header-img img{
    width: 45px;
    height: 45px;
    padding-top: 10px;
}


.header-img h3{
     font-size: 2.82rem;
    font-weight: 800; 
    /* border: solid; */
    padding: 0;
    margin-top: 0;

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    color: brown;
}

.header{
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    padding-top: 50px;
    
}


/* heading end */


/* banner start */

.banner{
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 500px;
    margin-top: 50px;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    /* display: block; */
}
.banner-heading{
    max-width: 700px;
    /* border: solid beige; */
    

}
.banner-heading h3{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    line-height: 64px;
    margin:0;
    padding:5;
}
.banner-heading p{
    color: #E7E7E7;
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.searchbar{
    gap: 40px;
    
}
.searchbar button{
    width: 25%;
}
.searchbar input{
    padding:  20px 320px 20px 20px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

/* banner end */

/* card section */

.card-heading{
   text-align: center;
    /* border: solid; */
    margin-top: 40px;
    margin-bottom: 40px;
}
.card-heading p{
    color: #707070;
    
    

}
.card-heading h3{
    font-weight: 700;
    font-size: 2.5rem;
    color: #414040;
    margin-top: 0;
    margin-bottom: 0;
    
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card{
    
    text-align: center;
    padding: 30px;
}



/* card section end */

/*  client section */


.client-heading{
    text-align: center;
    /* max-width: 760px; */
    /* border: solid; */
}

.client-heading h3{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 10px;
}
.client-testimony{
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 64px;
    color: white;
    display: flex;
    justify-content: center;  
    /* align-items: center; */
    border: solid;
    
}
.client-text{
    /* border: solid; */
    text-align: center;
    margin-top: 96px;
    max-width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    

}
.client-text img{
    border-radius: 50%;
   
}
.arrow{
    display: flex;
    justify-content: space-between;
}

/* client section end */

/* question section starts*/
.question-container {
    margin-bottom: 150px;
}

.question-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.question-heading h3{
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 5px;
    
}

.question-text{
    display: grid;
    grid-template-columns: repeat(1,fr);
    gap: 30px;
    
   
    
}
.q-card{
    background-color: rgb(243, 243, 243);
    padding-left: 30px;
    border: none;
    border-radius: 8px;
     
    
}
.q-card h3{
    font-size:1.25rem;
    font-weight:800;
}








.question-container{
    display: flex;
}



/* question section end */

/* contact section starts */

.contact-heading-section{ 
    text-align: center;
}

.contact-heading{
    margin-bottom: 50px;
} 
.contact-heading h3{
    font-size: 2.2rem;
    font-weight: 800;
}

.contact-main{
    display: flex;
    /* justify-content: center; */
    max-width: 1170px;
    /* border: solid #707070; */
    gap: 30px;
    margin-bottom: 150px;

    flex:1; 
}


.contact-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: solid; */
    width: 100%;
    

}
.c-card{
    background-color: rgb(243, 243, 243);
    /* border: solid; */
    padding: 50px;
    text-align: center;
    
}









.input-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    
    
  

}

.input-section input,textarea{
    padding: 20px 150px 20px 20px; 
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    border: none;
}

.input-section placeholder{
    color: rgb(112, 112, 112);
}



/*  */


/* footer section */
footer{
    background-color: rgb(17, 17, 17);
    color:rgb(255, 255, 255);
    padding-top: 200px;
    padding-bottom: 200px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 100px;
    
}
.foot-nav ul{
    list-style: none;
}
.foot-nav ul a{
    text-decoration: none;
    color: rgb(207, 207, 207);

}
.Subscribe-btn{
    position: relative;
}

.Subscribe-btn input{
    padding: 20px 150px 20px 10px;
    border-radius: 8px;
    
}

.Subscribe-btn button{
    padding: 20px 50px 20px 10px;
    border-radius: 8px;
    position: absolute;
    border: none;
    left: 250px;
    

}
